@font-face {
    font-family: "Consola";
    src: url(../Fontes/consola_mono/ConsolaMono-Bold.ttf);
}

@font-face {
    font-family: "Mainstay";
    src: url(../Fontes/mainstay/Mainstay.ttf);
}

@font-face {
    font-family: "Snoopy";
    src: url(../Fontes/snoopy_dings/Snoopy_Dings.ttf);
}


@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');

/*
Atma
Exo 2
Permanent Marker

*/

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #D2DBEB;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/fundo.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#container{
    margin: 0px auto;
    width: 80%;
}

header{
    width: 100%;
    height: 50px;
    padding: 10px;
}

nav{
    font-family: "Permanent";
    padding-top: 1%;
    display: flex;
    align-items: center;
}

nav img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

header ul{
    display: flex;
    list-style-type: none;
}


header a{
    padding: 30px;
    text-decoration: none;
}

.title-bar{
    background-color: #83CAEB;
    width: 92%;
    height: 200px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
}

.title-bar h3{
    font-family: Mainstay;
    font-size: 70px;
}

.title-bar h6{
    font-family: Consola;
    font-size: 20px
}

.title-bar p{
    font-family: Snoopy;
    font-size: 100px;
    
}

main{
    margin-top: 1%;
    background-color:#84A9EB;
    width: 92%;
    height: 390px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
    overflow: hidden;

}

main p, h3{
    text-indent: 2%;

}

main h3{
    color: #323459;
    text-transform: uppercase;
    margin-bottom: 2%;
}

main h4{
    margin-top: 3%;
}

footer{
    background-color:#A6E0E0;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

main img{
    width: 100px;
    height: auto;
}





/*Menu fixo */

nav.fixa ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #83CAEB;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
   
}

nav.fixa li{
    display: inline-block;
}

nav.fixa li{
    float: left;
}

nav.fixa li a{
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav.fixa li a:hover{
    background-color:#323459;
    color:white;
}

nav.fixa .active{
    background-color: #84A9EB;
    color: #323459;
}

nav.fixa{
    ;
}






/*Menu nav*/

nav.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #323459;
    text-align: center;
}

nav.menu{
    float: left;
}

nav.menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

nav.menu li a:hover{
    background-color: #83CAEB;
    color: black;
}

nav.menu .active{
    background-color: #A6E0E0;
    color: black;
}

nav.menu li{
    border-right: 1px solid dimgray;
}

nav.menu li:last-child{
    border-right: none;
    
}



/*DIVS*/

div{
    margin: 30px;
}


div.card{
    width: 150px;
    height: 140px;
    float: left;
    margin: 10px;
    padding: 10px;
    text-align: center;

}

div.card img{
    width: 130px;
    height: 100px;
}

